.DS_Store
backend/.env 2
backend/commit_analyzer 2.db
backend/commit_analyzer.db
frontend/.gitignore 2
backend/commit_analyzer.db
backend/commit_analyzer.db
/backend/venv
/mcp_server/venv
/git_analyzer/__pycache__
/database/__pycache__
/ai_engine/__pycache__
